## Data Cleaning of Shoprite Data

In [1]:
import numpy as np # mathematical functions
import pandas as pd # Data analysis
import matplotlib.pyplot as plt # Visualization

%matplotlib inline

### Load Data

In [2]:
df = pd.read_csv("shoprite_messy_data.csv")
df.head()

,Unnamed: 0,names,prices,sku,categories,tag
0,0,Chewy Caramel Alpenliebe 6.5G,₦34.99,Candy Milk Chewy Caramel Alpenliebe 6.5G,Category: Confectionery and Snacks,Tag: Candy
1,1,Milk Chewy Caramel Alpenliebe 6.5G,₦34.99,Milk Chewy Caramel Alpenliebe 6.5G,Category: Candy & bubble Gum,Tag: Alpenliebe
2,2,Seasoning Powder Jollof Maggi 8G,₦52.99,Seasoning Powder Jollof Maggi 8G,"Category: Condiments, Oils & Spices",Tag: Seasoning
3,3,Seasoning Powder Chicken Maggi 10G,₦52.99,Seasoning Powder Chicken Maggi 10G,"Category: Condiments, Oils & Spices",Tag: Seasoning
4,4,Chocolate Slab Milk Dune 5G,₦54.99,Chocolate Slab Milk Dune 5G,Category: Chocolate,Tag: Chocolate

### Understand the Data

In [3]:
# drop the unamed column

df.drop(columns='Unnamed: 0', inplace=True)

In [4]:
df.columns

Index(['names', 'prices', 'sku', 'categories', 'tag'], dtype='object')

In [5]:
df.shape

(140, 5)

In [6]:
# check for duplicate

df.duplicated().sum()

40

### No Duplicates was found in the data set

In [7]:
# check for missing value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       140 non-null    object
 1   prices      140 non-null    object
 2   sku         140 non-null    object
 3   categories  140 non-null    object
 4   tag         140 non-null    object
dtypes: object(5)
memory usage: 5.6+ KB

### Find fileds with Null

In [8]:
# for names
(df['names']== "Null").sum()

0

In [9]:
df['tag'] = df['tag'].replace('Null', np.nan)

In [10]:
(df['sku']== "Null").sum()

df['sku'] = df['sku'].replace('Null', np.nan)

In [11]:
(df['categories'] == "Null").sum()

7

#### Data Cleaning( clean the price)

Remove the currency and convert the price to float

In [12]:
df['prices']=df['prices'].str.replace('₦','').astype(float)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       140 non-null    object
 1   prices      140 non-null    float64
 2   sku         124 non-null    object
 3   categories  140 non-null    object
 4   tag         131 non-null    object
dtypes: float64(1), object(4)
memory usage: 5.6+ KB

In [14]:
# drop sku column

df.drop(columns='sku',inplace=True)

In [15]:
df.dropna(inplace=True)

In [16]:
df.head()

,names,prices,categories,tag
0,Chewy Caramel Alpenliebe 6.5G,34.99,Category: Confectionery and Snacks,Tag: Candy
1,Milk Chewy Caramel Alpenliebe 6.5G,34.99,Category: Candy & bubble Gum,Tag: Alpenliebe
2,Seasoning Powder Jollof Maggi 8G,52.99,"Category: Condiments, Oils & Spices",Tag: Seasoning
3,Seasoning Powder Chicken Maggi 10G,52.99,"Category: Condiments, Oils & Spices",Tag: Seasoning
4,Chocolate Slab Milk Dune 5G,54.99,Category: Chocolate,Tag: Chocolate

#### clean the category and tag column

In [17]:
df['categories']= df['categories'].str.replace('Category: ','')
df['categories']= df['categories'].str.replace('Categories: ','')

In [18]:
df['tag']= df['tag'].str.replace('Tag: ','')

In [19]:
df.head()

,names,prices,categories,tag
0,Chewy Caramel Alpenliebe 6.5G,34.99,Confectionery and Snacks,Candy
1,Milk Chewy Caramel Alpenliebe 6.5G,34.99,Candy & bubble Gum,Alpenliebe
2,Seasoning Powder Jollof Maggi 8G,52.99,"Condiments, Oils & Spices",Seasoning
3,Seasoning Powder Chicken Maggi 10G,52.99,"Condiments, Oils & Spices",Seasoning
4,Chocolate Slab Milk Dune 5G,54.99,Chocolate,Chocolate

#### Add a new column(Featured Engineering)

will hold weight of products

In [20]:
df['names']

0          Chewy Caramel Alpenliebe 6.5G
1      Milk Chewy Caramel Alpenliebe 6.5G
2        Seasoning Powder Jollof Maggi 8G
3      Seasoning Powder Chicken Maggi 10G
4             Chocolate Slab Milk Dune 5G
                      ...
135              Coca Cola 350Ml Nrb, Reg
136                Oats Quaker 40G Sachet
137    Noodles Tasty Chicken Supreme 100G
138                  Sugar Free 7Up 400Ml
139       Sugar Free Orange Mirinda 400Ml
Name: names, Length: 131, dtype: object

#### Save into csv

In [21]:
df.to_csv('shoprite_clean_data.csv')